.DS_Store
node_modules
.gobble*
dist
public/js/bundle.*
public/sw.*
public/main.css
public/guide.json
public/examples
public/blog
public/codemirror*
public/rollup.browser.js
public/svelte.js
public/svelte-app.zip
scripts/svelte-app/
universal/components/guide-summary.json
universal/routes/Repl/examples.js
server/components
server/routes
server/manifests
credentials.json
assets