main {
	margin: 0 auto;

	.post {
		max-width: 48em;
		margin: 0 auto;
		padding: 2em 1em 0 1em;		
		/*padding: 0 0 2em 0;*/
	}

	p {
		margin: 0 0 1em 0;
		line-height: 1.5;
	}

	.byline {
		font-size: 0.8em;
		border-top: 1px solid #eee;
		padding: 0.5em 0;
	}

	time {
		/*float: right;*/
	}

	blockquote {
		color: #999;
		margin: 1em 0;
		padding: 0.5em 0 0.5em 1em;
		max-width: 48em;
		background-color: #f9f9f9;
		border-left: 2px solid #ddd;
		/*border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;*/

		p {
			color: #666;
		}

		p:last-child {
			margin: 0;
		}

		strong {
			display: block;
			font-weight: 500;
			font-style: italic;
		}
	}

	code {
		background-color: #f9f9f9;
		padding: 0.2em 0.4em;
		border-radius: 3px;
	}
}

.post {
	padding: 1em;

	h1, h2 {
		font-size: 1.8em;
		margin: 0 0 0 0;
		font-weight: 500;
	}

	h2 {
		color: #333;
	}

	p {
		font-weight: 300;
	}

	.standfirst {
		font-size: 1.4em;
		font-family: Rajdhani;
		line-height: 1.2;
		color: #888;
		font-weight: 500;
	}

	.continue-reading {
		float: right;
	}
}

@media (min-width: 768px) {
	.post {
		h1, h2 {
			font-size: 2.4em;
		}
	}
}
