<iframe ref:child srcdoc='
	<!doctype html>
	<html>
		<head>
			<link href="https://fonts.googleapis.com/css?family=Rajdhani:300,500,700|Roboto:300,300i,500|Roboto+Mono:300" rel="stylesheet">
			<link rel="stylesheet" href="/repl-viewer.css">
		</head>
		<body></body>
	</html>
'></iframe>

<style>
	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
</style>

<script>
	let importCache = {};

	curl.config({
		dontAddFileExt: /./
	});

	function fetchImport ( x ) {
		return curl([ `https://wzrd.in/standalone/${x.source}@latest` ]).then( module => {
			importCache[ x.source ] = module;
		});
	}

	const namespaceSpecifier = /\*\s+as\s+(\w+)/;
	const namedSpecifiers = /\{(.+)\}/;

	function parseSpecifiers ( specifiers ) {
		specifiers = specifiers.trim();

		let match = namespaceSpecifier.exec( specifiers );
		if ( match ) {
			return {
				namespace: true,
				name: match[1]
			};
		}

		let names = [];

		specifiers = specifiers.replace( namedSpecifiers, ( match, str ) => {
			names = str.split( ',' ).map( name => {
				const split = name.split( 'as' );
				const exported = split[0].trim();
				const local = ( split[1] || exported ).trim();

				return { local, exported };
			});

			return '';
		});

		match = /\w+/.exec( specifiers );

		return {
			namespace: false,
			names,
			default: match ? match[0] : null
		};
	}

	export default {
		onrender () {
			let component;

			this.refs.child.addEventListener( 'load', () => {
				const iframe = this.refs.child;
				const body = iframe.contentDocument.body;
				const eval2 = iframe.contentWindow.eval;

				let promise = null;
				let observers = null;
				let updating = null;

				let toTeardown = null;

				this.observe( 'compiled', compiled => {
					if ( !compiled ) return;
					if ( promise ) promise.cancel();

					toTeardown = component;
					component = null;

					setTimeout( () => { // necessary because `data` is not yet updated. TODO would be nice to fix this
						const imports = [];
						const pattern = /\bimport\s+(?:(.+)\s+from\s+)?[\'"]([^"\']+)["\']/g; // https://gist.github.com/pilwon/ff55634a29bb4456e0dd

						const code = compiled.code
							.replace( pattern, ( match, specifiers, source ) => {
								imports.push({
									specifiers: parseSpecifiers( specifiers ),
									source
								});

								return '';
							})
							.replace( 'export default ', '' ) + '\n\nreturn SvelteComponent;';

						const missingImports = imports.filter( x => !importCache[ x.source ] );

						const createComponent = () => {
							if ( toTeardown ) toTeardown.teardown();

							imports.forEach( x => {
								console.log( `x`, x )
								const module = importCache[ x.source ];

								if ( x.specifiers.namespace ) {
									iframe.contentWindow[ x.specifiers.name ] = module;
								} else {
									if ( x.specifiers.default ) {
										iframe.contentWindow[ x.specifiers.default ] = 'default' in module ? module.default : module;
									}

									x.specifiers.names.forEach( name => {
										iframe.contentWindow[ name.local ] = module[ name.exported ];
									});
								}
							});

							const data = this.get( 'data' );

							try {
								eval2( `
									var SvelteComponent = (function () { ${code} }());
									document.body.innerHTML = '';
									var component = new SvelteComponent({
										target: document.body,
										data: ${JSON.stringify(data)}
									});
								`);

								component = window.component = iframe.contentWindow.component;

								observers = Object.keys( data ).map( key => {
									return component.observe( key, value => {
										if ( updating ) return;

										updating = true;
										this.fire( 'change', { key, value });
										updating = false;
									}, { init: false });
								});
							} catch ( err ) {
								// TODO show in UI
								component = null;
								observers = null;
							}
						};

						if ( missingImports.length ) {
							let cancelled = false;
							promise = Promise.all( missingImports.map( fetchImport ) );
							promise.cancel = () => cancelled = true;

							promise.then( createComponent );
						} else {
							createComponent();
						}
					});
				});

				this.observe( 'data', data => {
					try {
						if ( observers ) {
							observers.forEach( observer => observer.cancel() );
						}

						if ( component ) {
							updating = true;
							component.set( data );
							updating = false;

							observers = Object.keys( data ).map( key => {
								return component.observe( key, value => {
									if ( updating ) return;

									updating = true;
									this.fire( 'change', { key, value });
									updating = false;
								}, { init: false });
							});
						}
					} catch ( err ) {
						// TODO show the error in the UI
						console.error( err );
					}
				});
			});
		}
	};
</script>
