html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto';
	color: #333;
	padding: 8px;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-weight: 400;
}

h1, h2, h3 {
	font-family: 'Rajdhani';
	margin: 0;
	font-weight: 500;
	padding: 0.5em 0;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: rgb(170,30,30);
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 800;
}

code, pre {
	font-family: 'Inconsolata';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
}

pre {
	background-color: #f9f9f9;
	padding: 0.5em;

	code {
		padding: 0;
	}
}

code {
	background-color: #f9f9f9;
	padding: 0.2em 0.4em;
	border-radius: 3px;
}

p {
	font-weight: 300;
}