<!doctype>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>

	<link rel='manifest' href='/manifest.json'>
	<link rel='icon' type='image/png' href='/favicon.png'>
	<meta name='theme-color' content='#333'>

	<link rel='stylesheet' href='/main.css'>

	<meta name='twitter:card' content='summary_large_image'>
	<meta name='twitter:site' content='@sveltejs'>
	<meta name='twitter:creator' content='@sveltejs'>
	<meta name='twitter:title' content='Svelte'>
	<meta name='twitter:description' content='The magical disappearing UI framework'>
	<meta name='twitter:image' content='https://svelte.technology/images/twitter-card.png'>

	<title>__title__</title>

	<script>
		if ( 'serviceWorker' in navigator ) {
			window.addEventListener( 'load', function () {
				navigator.serviceWorker.register( '/service-worker.js' )
					.then( function ( registration ) {
						console.log( 'ServiceWorker registration successful' );
					})
					.catch( function ( err ) {
						console.error( err.stack );
					});
			});
		}
	</script>
</head>
<body>
	<header>__nav__</header>
	<main>__route__</main>

	<script src='/curl.js'></script>
	<script>
		curl.config({
			dontAddFileExt: /./,
			paths: {
				'magic-string': '/magic-string.umd.js'
			}
		});

		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-5602942-11', 'auto');
		ga('send', 'pageview');
	</script>
	<script src='/bundle.js'></script>
</body>
</html>