/* TODO figure out which of these we actually need */
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Light.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani/Rajdhani-Bold.woff2') format('woff2'),
		url('/fonts/Rajdhani/Rajdhani-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani/Rajdhani-Medium.woff2') format('woff2'),
		url('/fonts/Rajdhani/Rajdhani-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani/Rajdhani-Semibold.woff2') format('woff2'),
		url('/fonts/Rajdhani/Rajdhani-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Black.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani/Rajdhani-Light.woff2') format('woff2'),
		url('/fonts/Rajdhani/Rajdhani-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani/Rajdhani-Regular.woff2') format('woff2'),
		url('/fonts/Rajdhani/Rajdhani-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
		url('/fonts/Roboto/Roboto-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face{
	font-family: 'Inconsolata';
	src: url('/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Inconsolata';
	src: url('/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
	font-weight: 500;
}

* {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fff;
	font-family: 'Roboto';
	font-weight: 400;
	color: #333;
}

main {
	padding: 3em 0 0 0;
	overflow-x: hidden;
	/*overflow-y: auto;*/
	/*height: calc(100vh - 4em);*/
	/*position: absolute;*/
	/*width: 100%;*/
	/*top: 4em;*/
	/*top: 0;*/
}

code, pre {
	font-family: 'Inconsolata';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
}

pre {
	overflow-x: auto;
}

h1, h2, h3 {
	font-family: 'Rajdhani';
	margin: 0;
	font-weight: 300;
	padding: 0.5em 0;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: rgb(170,30,30);
}

strong {
	font-weight: 800;
}

@media (min-width: 768px) {
	main {
		padding: 4em 0 0 0;
	}
}

__components__