@import '../typography.css';

html {
	width: 100%;
	height: 100%;
}

body {
	padding: 8px;
	margin: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-weight: 400;
}

pre {
	background-color: #f9f9f9;
	padding: 0.5em;

	code {
		padding: 0;
	}
}

code {
	background-color: #f9f9f9;
	padding: 0.2em 0.4em;
	border-radius: 3px;
}

h1, h2, h3 {
	font-weight: 500;
}

p {
	font-weight: 300;
}

a {
	color: rgb(170,0,0);
}

a:hover {
	text-decoration: underline;
}
