.sidebar {
	margin: 0;
	padding: 2em 1em 2em 2.5em;
	border-bottom: 1px solid #eee;

	a {
		color: #333;
	}

	li {
		list-style: none;
		font-family: Rajdhani;
		margin: 0 0 0.5em 0;
	}

	li::before {
		position: absolute;
		left: -1em;
		content: '»';
		color: #ccc;
	}

	.section {
		display: block;
		font-size: 1.2em;
		font-weight: 700;
	}

	.subsection {
		padding: 0 0 0 0;
		display: block;
		color: #727272;
	}
}

@media (min-width: 45rem) {
	.sidebar {
		position: fixed;
		float: left;
		width: 14em;
		border-right: 1px solid #eee;
		height: calc(100% - 4em);
		z-index: 2;
		overflow-y: scroll;
		border-bottom: none;
	}
}
