.CodeMirror {
	border-radius: 3px;
	font-family: 'Inconsolata';
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #333;
}

.CodeMirror {
	height: auto;
}

.CodeMirror-scroll {
	/*max-height: 80vh;*/
}

.CodeMirror-gutters {
	border-right: 1px solid #eee;
}
