header {
	text-align: right;
	position: relative;
	height: 3em;
	box-sizing: border-box;
	background-color: #333;
	color: #eee;
	border-bottom: 2px solid rgb(170,30,30);
	font-family: 'Rajdhani';
	padding: 0 0.5em 0 0;

	transition: all 90ms cubic-bezier(0.455, 0.03, 0.515, 0.955); /* easeInOutQuad */

	.logo {
		position: absolute;
		top: 0.9rem;
		left: 0.7rem;
		line-height: 1;
		text-transform: lowercase;
		font-size: 1.4em;
		color: white;

		transition: color 90ms cubic-bezier(0.455, 0.03, 0.515, 0.955); /* easeInOutQuad */
		will-change: color;
	}

	nav:after {
		content: '';
		clear: both;
		display: block;
	}

	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		clear: fix;
	}

	li {
		position: relative;
		display: inline-block;
	}

	li::after {
		position: absolute;
		top: 1.1rem;
		right: -0.3em;
		content: '/';
		font-size: 0.8em;
		color: #999;
	}

	li:last-child::after {
		content: '';
	}

	li a {
		display: block;
		/*color: #666;*/
		color: #ccc;
		font-size: 1em;
		padding: 1.1em 0.3em 0.9em 0.3em;
		line-height: 1;

		&.active {
			color: white;
			font-weight: 500;
		}
	}

	li a:hover {
		color: white;
	}

	.menu-link {
		display: none;
	}
}

@media (min-width: 360px) {
	header {
		.logo {
			top: 0.7rem;
			font-size: 1.8em;
		}

		li a {
			padding: 1.1em 0.5em 0.9em 0.5em;
		}
	}
}

@media (min-width: 768px) {
	header {
		height: 4em;
		padding: 0 1.5em 0 0;

		.logo {
			top: 1rem;
			left: 1.5rem;
			font-size: 2em;
			font-weight: 300;
		}

		li::after {
			top: 1.5rem;
		}

		li a {
			padding: 1.5em 0.5em;
		}
	}
}

@media (max-width: 767px) {
	header {
        user-select: none;

		.logo {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -45%);
	
			-webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
		}

        ul {
            display: none;
        }

        .menu-link {
            display: inline;
            position: absolute;
            
            top: 0;
            left: 1rem;
            font-size: 1em;
            font-family: 'Rajdhani';
            line-height: 3.1em;

			color: #ccc;
			cursor: pointer;
			font-weight: 500;

			transition: color 90ms cubic-bezier(0.455, 0.03, 0.515, 0.955); /* easeInOutQuad */
			will-change: color;

            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
        }

		&.hidden {
			background-color: #fff;
			border-bottom-color: #fff;

			.logo {
				color: rgb(170,30,30);
			}

			.menu-link {
				color: #333;
			}
		}
	}
}
