header {
	text-align: right;
	position: relative;
	height: 3em;
	box-sizing: border-box;
	background: #333;
	color: #eee;
	border-bottom: 2px solid rgb(170,30,30);
	font-family: 'Rajdhani';
	padding: 0 0.5em 0 0;

	.logo {
		position: absolute;
		top: 0.9rem;
		left: 0.7rem;
		line-height: 1;
		text-transform: lowercase;
		font-size: 1.4em;
		color: white;
	}

	nav:after {
		content: '';
		clear: both;
		display: block;
	}

	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		clear: fix;
	}

	li {
		position: relative;
		display: inline-block;
	}

	li::after {
		position: absolute;
		top: 1.1rem;
		right: -0.3em;
		content: '/';
		font-size: 0.8em;
		color: #999;
	}

	li:last-child::after {
		content: '';
	}

	li a {
		display: block;
		/*color: #666;*/
		color: #ccc;
		font-size: 1em;
		padding: 1.1em 0.3em 0.9em 0.3em;
		line-height: 1;

		&.active {
			color: white;
			font-weight: 500;
		}
	}

	li a:hover {
		color: white;
	}

	.menu-link {
		display: none;
	}
}

@media (min-width: 360px) {
	header {
		.logo {
			top: 0.7rem;
			font-size: 1.8em;
		}

		li a {
			padding: 1.1em 0.5em 0.9em 0.5em;
		}
	}
}

@media (min-width: 768px) {
	header {
		height: 4em;
		padding: 0 1.5em 0 0;

		.logo {
			top: 1rem;
			left: 1.5rem;
			font-size: 2em;
			font-weight: 300;
		}

		li::after {
			top: 1.5rem;
		}

		li a {
			padding: 1.5em 0.5em;
		}
	}
}
