@import './header.css';
@import './sidebar.css';
@import './hero.css';
@import './footer.css';
@import './typography.css';
@import './codemirror-override.css';

* {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #fff;
}

main {
	overflow: scroll;
	height: calc(100vh - 4em);
	position: absolute;
	width: 100%;
	top: 4em;
}

header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 200;
}

@media (max-width: 767px) {
	main {
		height: calc(100vh - 3em);
		top: 3em;
	}
}