@import './header.css';
@import './sidebar.css';
@import './hero.css';
@import './footer.css';
@import './typography.css';
@import './codemirror-override.css';

* {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0;
}
