body {
	font-family: 'Roboto';
	font-weight: 500;
	color: #333;
}

code, pre {
	font-family: 'Inconsolata';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
}

h1, h2, h3 {
	font-family: 'Rajdhani';
	margin: 0;
	font-weight: 300;
	padding: 0.5em 0;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: rgb(170,30,30);
}

strong {
	font-weight: 800;
}

@font-face{
	font-family: 'Inconsolata';
	src: url('/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Inconsolata';
	src: url('/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
	font-weight: 500;
}
