body {
	font-family: 'Roboto';
	font-weight: 100;
	color: #333;
}

code, pre {
	font-family: 'Roboto Mono';
	font-weight: 300;
	font-size: 14px;
	line-height: 1.2;
}

h1, h2, h3 {
	font-family: 'Rajdhani';
	margin: 0;
	font-weight: 400;
	padding: 0.5em 0;
}

a {
	text-decoration: none;
	color: rgb(170,30,30);
}

strong {
	font-weight: 800;
}
