@media (max-width: 767px) {
	.repl-container {
		height: calc(100vh - 6em);
	}
}

.repl-container {
	height: calc(100vh - 7em);
}

@keyframes pulse {
	0%   { opacity: 1; transform: scale(1.5); }
	50%  { opacity: 0; transform: scale(1); }
	100% { opacity: 1; transform: scale(1.5); }
}

@-webkit-keyframes pulse {
	0%   { opacity: 1; transform: scale(1.5); }
	50%  { opacity: 0; transform: scale(1); }
	100% { opacity: 1; transform: scale(1.5); }
}

@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
